 /* @import "tailwindcss";  */
/* 整个上边框 */
/* .header {
  width: 100%;
  height: 6vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  align-items: center;
  position: relative;
  display: flex;
  z-index: 2;
  transition: top 0.3s ease;

}  */
@import "tailwindcss";

.header {
  @apply w-full h-[6vh] bg-white flex items-center relative z-20 transition-all duration-300 ease-in-out shadow-[0_2px_8px_rgba(0,0,0,0.15)];
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
}
.header .fixed{
  @apply fixed top-0 left-0 w-full

}

.leftSize{
  @apply absolute left-0 ml-[3vw] flex items-center top-0.5 -translate-y-0.5
}
.leftSize img{
  @apply h-[4.84vh]
}
/* 中间部分 */
.mainSize{
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[8.89vw] text-[0.96vw] flex justify-around
  /* position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 8.89vw;
  font-size:0.96vw;
  display: flex;
  justify-content: space-around; */
}

/* 右边部分 */
.rightSize{
  @apply absolute right-0 mr-[3vw] top-1/2 transform -translate-y-1/2
  /* position: absolute;
  right: 0%;
  margin-right: 3vw;
  top: 50%;
  transform: translate(0,-50%); */
}
.LayoutHome{
  @apply text-black pb-[0.08vh]
  /* color:#000000;
  padding-bottom: 0.08vh; */
 
}
.LayoutCv{
  @apply text-black pb-[0.08vh]
  /* color:#000000;
  padding-bottom: 0.08vh; */
}
/* 按钮激活状态 */
.active{
  @apply text-[#616DFF] border-b-[3px] border-[#616DFF]
  /* color:#616DFF;
  border-bottom: 3px solid #616DFF; */
}
.LayoutUser{
  @apply text-[0.8vw] text-[#4F4F4F] no-underline
  /* font-size: 0.8vw;
  color:#4F4F4F;
  text-decoration:none; */
}

